/* custom Styles
================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headBG {
	background: linear-gradient(90deg, rgba(19, 19, 19, 1), transparent, rgba(19, 19, 19, 1)),
	#000 url("../images/BGpattern-dark.png") 0 repeat ;
	border-bottom: none;
}

.row {
  margin: 0 auto;
  max-width: 71.56rem;
}

/* DRY Classes ------------- */
.shim-xs { margin:10px;}
.shim-sml { margin:20px;}
.shim-med { margin:40px;}
.shim-lrg { margin:60px;}
.shim-xl { margin:80px;}
.shim-xxl { margin:100px;}

.shim-top-sml { margin-top:20px;}
.shim-top-med { margin-top:40px;}
.shim-top-lrg { margin-top:60px;}
.shim-top-xl { margin-top:80px;}

.shim-bot-sml { margin-bottom:20px;}
.shim-bot-med { margin-bottom:40px;}
.shim-bot-lrg { margin-bottom:60px;}
.shim-bot-xl { margin-bottom:80px;}

.whiteBG {background-color: #fff;}
.lightGreyBG {background-color: #F2F2F2;}
.medGreyBG {background-color: #EAEAEA;}
.darkGreyBG {background-color: #707274;}
.blackBG {background-color: #000;}
.yellowBG {background-color: #f2d047;}

.nav {
	background: linear-gradient(90deg, transparent -20%, #e6e6e6 50%, transparent 120%), #d5d5d5;
  padding-bottom:3px;
	.nav-BG {background-color: #f2d047;
		-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
		-moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
		box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	}
}

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
  color: #3E3E3E;
}

.center-copy {
	h1, h2, h3, h4, h5, h6, p {
  	text-align: center;
	}
}

a {
	font-weight: normal;
	color: #dab636;
	text-decoration: none;
	&:hover { 
		color: #666;
	}
}

/* header
================================================== */
.logo {
	margin: 10px 0;
}

.contact-nav-wrap {
	padding-top: 10px;
	p {
		font-size: 1.1em;
		margin: 10px 0 10px 0;
		padding:0;
		text-align: right;
		font-weight: bold;
		color: #fff;
		a {
	  	color: #fff;
	  	font-weight: bold;
	  	&:hover {color: #f2d047;}
	  }
	}
}

form.searchform {
	.input-group {
		position: relative; 
		margin:0;
		.input-group-field {
			width: 100% !important;
			margin: 0 !important;
			border: none !important;
			padding-right: 50px !important;
			display: block !important;
		}
		.input-group-button {
			width: 40px !important;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 11; 
			input.searchsubmit {
				font-family: FontAwesome;
				margin: 0 !important;
				padding: 0 35% !important;
				width: 100%;
				text-align: center;
				background-color: #f2d047;
				border-radius: 0;
				border: none !important;
				color: #222;
				vertical-align: top;  
				&:hover { background-color: #ccc;}
			}
		}
	}
}
.mobile-search {
	input[type="submit"] {
		color: #fff;
		font-size: 2em; 
	}
}

/* Navigation
================================================== */
/* --- topnav --- */
.soc-nav-lg {
	background-color: #111112; 
	height: 2rem;
	.inline-list {
		float: right;
	  list-style: none;
	  margin-top: 0;
	  margin-bottom: 0;
	  margin-left: 0;
	  margin-right: 0;
	  overflow: hidden;
	  padding: 0; 
	  li {
	    display: block;
	    float: left;
	    list-style: none;
	    margin-left: 0rem;
	    a {
		    color: #ccc;
		    .fa-mobile, .fa-envelope-o, .fa-facebook, .fa-twitter, .fa-instagram{
		    	height: 2rem;
		      padding: 10px 15px 0 15px;
		      border-right: solid 1px #fff;
		      text-align: center;
		    }
		    .fa-facebook {border-left: solid 1px #ccc;}
		    .fa-search {
		    	height: 2rem;
		      padding: 5px 7px 0 7px;
		      text-align: center;
		      color: #000;
		    }    
		    &:hover {color: #f2d047;}
		  }
		  form {margin:4px 0 0 5px;
				.button {
					background-color: #f2d047;
					border-radius: 0;
					&:hover {  background-color: #ccc;}
				}
		  }

			.postfix {
			  font-size: 0.875rem;
			  height: 1.5rem;
			  line-height: 1.5rem;
			  background-color: #ffffff;
			}
			  /* We use this to get basic styling on all basic form elements */
			input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
			  -webkit-appearance: none;
			  -moz-appearance: none;
			  border-radius: 0;
			  background-color: #FFFFFF;
			  border-style: solid;
			  border-width: 1px;
			  border-color: #cccccc;
			  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			  color: rgba(0, 0, 0, 0.75);
			  display: block;
			  font-family: inherit;
			  font-size: 0.875rem;
			  height: 1.5rem;
			  margin: 0 0 1rem 0;
			  padding: 0.5rem;
			  width: 100%;
			}
		}
	}
}

/* Vertical Menus - show the dropdown arrow */
.pure-menu-has-children,
.menu-item-has-children {
	.pure-menu-link:after {
    content: "\25B8";
    font-size: 2px !important;
    border-color: #333 transparent transparent !important;
	}
	&:hover {
    .pure-menu-link:after {
    	color: #fff !important;
    }
  }
}

/* Horizontal Menus - show the dropdown arrow */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
    content: "\25BE";
}

.pure-menu-horizontal .menu-item-has-children > .pure-menu-link:after {
  content: "\25BE";
}

.pure-menu-horizontal .menu-item {
	  display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.menu-item a:hover,
.menu-item a:active {
  background-color: rgba(120, 120, 120, 1);
  color: #fff;
  font-weight: bold;
}

.menu {
	ul.is-dropdown-submenu {
		background-color: #111111;
	  border: none;
	  li a {
	  	color: #fff !important;
	  }
	}
	.active a {
		background: transparent;
		color: #333; 
	}
}

.tab-bar {
  -webkit-backface-visibility: hidden;
  color: #FFFFFF;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
  h1, h2, h3, h4, h5, h6 {
  	color: #FFFFFF;
	  font-weight: bold;
	  line-height: 2.8125rem;
	  margin: 0;
  }
  h1, h2, h3, h4 {
  	font-size: 1.125rem;
  }
}

/*--buttons--*/
.btn-submit {
	margin-top: 1.5rem !important;
}

/* Homepage Content
================================================== */
.hero {
	  background: linear-gradient(90deg, transparent -20%, #e6e6e6 50%, transparent 120%), 
  	#d5d5d5;
}

.mobile-hero {
	display: none;
}

.container {
	display: flex;
	margin: 20px auto;
	padding: 5px;
  border-radius: 5px;
}

.item-main {
	flex-basis: 140%;
	padding: 15px;
	margin: 5px;	
	background: #000 url("../images/Left-Top-Photo-800x450.png") 0 0 no-repeat ;
  background-size: cover;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	h2 {
		margin: 10px 100px 220px 15px;
		text-align: left;
		letter-spacing: 0.05em;
		color: white;
		-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	}	
}

.item-secondary {
	margin: 5px 5px;	
	border-radius: 3px;
	flex-basis: 60%;
	flex-wrap: wrap;
	position: relative;
	background: #000 url("../images/Right-main-photo.png") 0 0 no-repeat ;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
		h4 { 
			bottom: 15px;
			right: 30px;
			letter-spacing: 0.05em;
			position: absolute;
			text-align: right;
			color: white;
			-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	}
}

.copy-wrap {
	margin: 60px 0 50px 0;
}

/*-- products icons --*/
.products-wrap {
	text-align: center;
	h6 {
		margin-top: 10px;
		a {
			font-weight: bold;
			color: #414344;
			-webkit-text-shadow: inset 0 1px 0 rgba(150, 150, 150, 1);
			-moz-text-shadow: inset 0 1px 0 rgba(150, 150, 150, 1);
			text-shadow: inset 0 1px 0 rgba(150, 150, 150, 1);
			&:hover { 
				color: #f2d047;
			}
		}
	}
	img {
		margin-top: 60px;
		width: 100px;
		height: 100px;
		-webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		transition-duration: 0.4s;
			
		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		-o-transition-property: -o-transform;
		transition-property: transform;
			
		overflow:hidden;
	}
	img:hover {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	}
}

.callouts {
  display: flex;
  flex-wrap: wrap;
  .col {
    flex: 1 200px;
    padding:0 30px;
    }
  .usa-logo {width:70%; margin:20px auto 0 auto;}
}

/*--buttons--*/
button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  margin: 0 0 0.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  letter-spacing: 0.08em;
  background-color: #f2d047;
  color: #111;
  transition: background-color 300ms ease-out; 
  -webkit-box-shadow: 0 1px 1px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0 1px 1px rgba(150, 150, 150, 1);
	box-shadow: 0 1px 1px rgba(150, 150, 150, 1);
  &:hover, button:focus, &:hover, &:focus {
  background-color: #111; 
				-webkit-box-shadow: inset 0 2px 1px rgba(242, 208, 71, 1);
				-moz-box-shadow: inset 0 2px 1px rgba(242, 208, 71, 1);
				box-shadow: inset 0 2px 1px rgba(242, 208, 71, 1);
	}
}

button.tiny, .button.tiny {
  padding: 0.425rem 0.6rem 0.4875rem 0.6rem;
  font-size: 0.6875rem; }


/* Products
================================================== */
.product-wrap {
	article {
		header {
			margin-bottom: 40px;
			h2 {
				margin-bottom: 1.6rem;
			}
		}
	}
}

/* Resources
================================================== */
.page-template-TabbedSubpages .subnav ul {
	margin-left: 0;
	li {
		display: none;
	}
	li.current_page_ancestor {
		display: block;
		a {
			display: none;
		}
		ul.children li {
			display: inline-block !important;
	    margin: 0 1px;
	    &.active {
	    	a {
	    		background-color: #111; 
					-webkit-box-shadow: inset 0 2px 1px rgba(242, 208, 71, 1);
					-moz-box-shadow: inset 0 2px 1px rgba(242, 208, 71, 1);
					box-shadow: inset 0 2px 1px rgba(242, 208, 71, 1);
					color: #fff;
					&:hover, &:active {
						cursor: default;
					}
	    	}
	    }
	    a {
	    	display: block;
	    }
		}
	}
}

/* Subpage Content
================================================== */
.catalog {
	li {
		img {
		  -webkit-box-shadow: 0 2px 1px rgba(150, 150, 150, 1);
			-moz-box-shadow: 0 2px 1px rgba(150, 150, 150, 1);
			box-shadow: 0 2px 1px rgba(150, 150, 150, 1);
		}
		p{
			margin: 10px 0;
		}
	}
}

.page .main-content hr {
	padding-top: 60px;
	margin-bottom: 80px;
}

.blog .post-entry h4 {
	margin-bottom: 0;
}

img.alignleft {
	padding-right: 2rem;
	margin-bottom: 2rem;
}
img.alignright {
	padding-left: 2rem;
	margin-bottom: 2rem;
}
@media #{$small-only} {
	img.alignleft, img.alignright {
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		float: none;
		display: block;
		max-width: 100%;
		height: auto;
	}
}

table {
	th, td {
		border: 1px solid #dedede; 
	}
	th {
		background-color: rgb(210, 210, 210);
	}
}

/* Sidebar
================================================== */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;
  ul {
  	list-style: none;
  	margin-left: 0;
  	li {
  		margin-top: 1rem;
  		margin-bottom: 1rem;
  		.post-date {
	  		display: block;
	  	}
  	}
  }
}

/* Footer
================================================== */
footer {
	color: #fff;
	background-color: #000;
	padding-top: 40px;
	p {
		font-weight: none;
		text-align: center;
		a {
		color: #FFF;
		text-decoration: none;
		font-weight: none;
		&:hover {color: #f2d047;}
		}
	}	
	.inline-list {
	  list-style: none;
	  margin-top: 0;
	  margin: 0 auto 1.0625rem auto;
	  width: 150px;
	  overflow: hidden;
	  padding: 0;
	  li {
	    display: block;
	    float: left;
	    list-style: none;
	    margin-left: 0rem;
	    a {
		    color: #fff;
		    .fa-mobile, .fa-envelope-o, .fa-facebook, .fa-twitter, .fa-instagram{
		    	height: 3rem;
		      padding: 5px 10px;
		      color: #fff;
		      border-right: none;
		      text-align: center;
		      &:hover {color: #f2d047;}
		    }  
	  	}
    * {display: block;}
  	}
  }
  article.widget {
  	padding-bottom: 20px;
  }
  .copyright {
   	font-size: 0.5em;
   	text-align: center;
   	margin-bottom: 5px;
  }
}

/* === Devices with max width at 1145px ========== */
@media only screen and (max-width: 1145px) {

.item-main {
	h2 {
		margin: 10px 50px 230px 15px;
	}	
}



}

/* === Devices with max width at 1024px ========== */
@media only screen and (max-width: 1024px) {
.shim-xs { margin-top:10px;}
.shim-sml { margin-top:10px;}
.shim-med { margin-top:20px;}
.shim-lrg { margin-top:30px;}
.shim-xl { margin-top:40px;}
.shim-xxl { margin-top:50px;}

.item-main {
	flex-basis: 140%;
	padding: 15px;
	margin: 5px;	
	background: #000 url("../images/Left-Top-Photo-800x450.png") 0 0 no-repeat ;
  background-size: cover;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	h2 {
		margin: 10px 20px 220px 15px;
		text-align: left;
		letter-spacing: 0.05em;
		color: white;
		-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	}	
}

.item-secondary {
	margin: 5px 5px;	
	border-radius: 3px;
	flex-basis: 60%;
	flex-wrap: wrap;
	position: relative;
	background: #000 url("../images/Right-main-photo.png") 0 0 no-repeat ;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	h4 { 
		bottom: 15px;
		right: 30px;
		letter-spacing: 0.05em;
		position: absolute;
		text-align: right;
		color: white;
		-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	}
}


.contact-nav-wrap { 
	p {
		font-size: 1em;
		margin: 10px 0 10px 0;
		padding: 0;
		text-align: right;
		color: #fff;
		a {
	  	color: #fff;
	  	&:hover { color: #f2d047; }
	  }
	}
}

/*--off-canvas--*/

.inline-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1.0625rem;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding: 0; 
  li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 0rem;
    a {
	    color: #ccc;
	    .fa-mobile, .fa-envelope-o, .fa-facebook, .fa-twitter, .fa-instagram{
	    	height: 2.8rem;
	      padding: 7px 15px;
	      border-right: solid 1px #ccc;
	      text-align: center;
	    }
	    .fa-search {
	    	height: 1.8rem;
	      padding: 6px 7px;
	      text-align: center;
	      color: #000;
	    }    
	    &:hover {color: #f2d047;}
	  }
	  form {margin:8px 0 0 5px;
			.button {background-color: #f2d047;
			border-radius: 0;
				&:hover {  background-color: #ccc;}
			}
	  }
    * {display: block;}
    }
   }

.right-small {
  height: 2.8rem;
  position: absolute;
  top: 0;
  width: 5rem;
  border: 1px #111112 solid;
  background-color: #f2d047;
  right: 0; 
	a {
		color: #111111;
		padding: 5px 15px;
	&:hover {color:#333;}
	}
	&:hover {  background-color: #ccc;}
}

.postfix {
  font-size: 0.875rem;
  height: 1.8rem;
  line-height: 1.8rem;
  background-color: #ffffff;
}

.callouts {
  display: flex;
  flex-wrap: wrap;
  .col {
    flex: 1 200px;
    padding:0 15px;
    text-align: center;
    }
  .usa-logo {width:90%; margin:20px auto 0 auto;}
  }

  /* We use this to get basic styling on all basic form elements */
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 1.8rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;}

.headBG {
	  border-bottom: 6px solid #f2d047;
}

}

/* === Devices with max width at 990px ========== */
@media only screen and (max-width: 990px) {

.item-main {
	h2 {
		font-size: 2em;

	}	
}

}

/* === Devices with max width at 950px ========== */
@media only screen and (max-width: 950px) {

.item-main {
	flex-basis: 130%;
	padding: 15px;
	margin: 5px;	
	background: #000 url("../images/Left-Top-Photo-800x450.png") 0 0 no-repeat ;
  background-size: cover;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	h2 {
		margin: 10px 20px 200px 15px;
		text-align: left;
		letter-spacing: 0.05em;
		color: white;
		-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	}	
}

.item-secondary {
	margin: 5px 5px;	
	border-radius: 3px;
	flex-basis: 70%;
	flex-wrap: wrap;
	position: relative;
	background: #000 url("../images/Right-main-photo.png") 0 0 no-repeat ;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 1);
		h4 { 
			bottom: 15px;
			right: 30px;
			letter-spacing: 0.05em;
			position: absolute;
			text-align: right;
			color: white;
			-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	}
}


}

/* === Devices with max width at 850px ========== */
@media only screen and (max-width: 850px) {
	.container {
	  display: none;
		}

	.mobile-hero {
		display: block;
		margin: 20px 0 20px 0 ;
		.mobile-secondary {
			background: #000;
			margin: 0px 0 20px 0;
			h4 {
				margin: 0px 10px 10px 10px;
				padding: 10px 10px 10px 10px;
				font-size: 1.3em;
				font-weight: 200;
				color: #fff;
				text-align: center;
				letter-spacing: 0.15em;
				-webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
				-moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
				text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			}
		}
	}
}

/* === Devices with max width at 640px ========== */
@media only screen and (max-width: 640px) {
	.shim-xs { margin-top:10px;}
	.shim-sml { margin-top:10px;}
	.shim-med { margin-top:10px;}
	.shim-lrg { margin-top:10px;}
	.shim-xl { margin-top:10px;}
	.shim-xxl { margin-top:10px;}

	.small-centered {
		float: none;
	  margin-left: auto !important;
	  margin-right: auto !important;
	}

	.mobile-search {
		background-color: #f2d047;
		height: 3rem;
		.fa-search {
			height: 3rem;
			padding: 5px 7px;
			text-align: center;
	  	color: #fff;
		}
		form {
			margin:0;
			padding:0;
			.button {
				background-color: #000;
				border-radius: 0;
				&:hover { 
					background-color: #333; 
					border: none;
				}
			}
		}
		.postfix {
		  font-size: 0.875rem;
		  height: 2.5rem;
		  line-height: 0.5rem;
		  background-color: #ffffff;
		}

	  /* We use this to get basic styling on all basic form elements */
		input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  border-radius: 0;
		  background-color: #FFFFFF;
		  border-style: solid;
		  border-width: 1px;
		  border-color: #cccccc;
		  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		  color: rgba(0, 0, 0, 0.75);
		  display: block;
		  font-family: inherit;
		  font-size: 0.875rem;
		  height: 2.5rem;
		  margin: 0 0 1rem 0;
		  padding: 0.5rem;
		  width: 100%;
		}
	}
	.inline-list {
  	li {
    	a {
	    	color: #ccc;
	    	.fa-mobile {
	    		height: 2.8rem;
	      	padding: 7px 20px;
	    	}   
	    	&:hover {color: #f2d047;}
	  	}
	  	form {margin:8px 0 0 5px;
				.button {
					background-color: #f2d047;
					&:hover {
						background-color: #ccc;
					}
				}
	  	}
    	* {display: block;}
    }
	}
	.callouts {
	  display: flex;
	  flex-wrap: wrap;
	  .col {
	    flex: 1 200px;
	    padding:0 30px;
	  }
	  .usa-logo {width:50%; margin:20px auto 0 auto;}
	}
}

/* === Devices with max width at 480px =========== */
@media only screen and (max-width: 480px) {
	.mobile-hero {
		.mobile-secondary {
			h4 {
				font-size: 1em;
				letter-spacing: 0.1em;
			}
		}
	}

}




